@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.head_nav{
  position: relative;
  background: rgb(255, 255, 255);
  padding-top: 20px;
  margin: -8px;
}
.cut_line{
  color:rgb(184, 184, 184);
  width: 50%;
}
.menu_line{
  color:rgb(184, 184, 184);
  width: 75%;
  
}

.head_text{
  color: black;
  text-align: center;
  font-family: 'SEBANG_Gothic_Bold';
  
}
.menu_text{
  color: black;
  text-align: center;
  font-family: 'SEBANG_Gothic_Bold';
  margin: 8px;   
  
}

.Main_text{
  color: black;
  text-align: center;
  font-family: 'SEBANG_Gothic_Bold';
  margin-top: 100px;
  font-size: 100px;
}
.text_div{
  padding-bottom: 10px;
}

.link{
  text-decoration-line: none;
}
.link { text-decoration: none; color: black; }
.link:visited { text-decoration: none; }
.link:hover { text-decoration: none; }
.link:focus { text-decoration: none; }
.link:hover, .link:active { text-decoration: none; }

.menu_login{
  color: black;   
  font-family: 'SEBANG_Gothic_Bold';
  padding-left: 35.2%;
}

.menu_graph{
  color: black;
  font-family: 'SEBANG_Gothic_Bold';
  padding-left: 10%;
}

.menu_upload{
  color: black;
  font-family: 'SEBANG_Gothic_Bold';
  padding-left: 10%;
}
.chart-container{
  margin-left: 20%;
  
}
.login_form{
  width: 170px;
  height: 50px;  
  border: 1px solid black;
  margin-left: 44.5%;
}

.menu_S_lst{
  color: black;
  font-family: 'SEBANG_Gothic_Bold';
  text-align: center;
}

.Main_div{
  width: 100%;
}